
body {
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-scrollbar {
    display: none;
}
}

.webtoon-panel img {
	max-width: 100%;
	
}

#water-effect {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 80px; /* Ajusta el tamaño según necesites */
    z-index: 10000;
    display: none; /* Oculto inicialmente */
    pointer-events: none; /* Para que no interfiera con el click/scroll */
}

